<div class="container-fluid">
  <app-radial-menu></app-radial-menu>
</div>
<!-- <swiper
    [effect]="'coverflow'"
    [grabCursor]="true"
    [centeredSlides]="true"
    [slidesPerView]="'auto'"
    [coverflowEffect]="{
      rotate: 50,
      stretch: 0,
      depth: 100,
      modifier: 1,
      slideShadows: true
    }"
    [pagination]="true"
    class="mySwiper"
  >
  <ng-template swiperSlide>
    <div class="slider-content">
        <img src="https://swiperjs.com/demos/images/nature-1.jpg" />
    </div>
</ng-template
    ><ng-template swiperSlide
      ><img class="slide-content" src="https://swiperjs.com/demos/images/nature-2.jpg" /></ng-template
    ><ng-template swiperSlide
      ><img class="slide-content" src="https://swiperjs.com/demos/images/nature-3.jpg" /></ng-template
    ><ng-template swiperSlide
      ><img class="slide-content" src="https://swiperjs.com/demos/images/nature-4.jpg" /></ng-template
    ><ng-template swiperSlide
      ><img class="slide-content" src="https://swiperjs.com/demos/images/nature-5.jpg" /></ng-template
    ><ng-template swiperSlide
      ><img class="slide-content" src="https://swiperjs.com/demos/images/nature-6.jpg" /></ng-template
    ><ng-template swiperSlide
      ><img class="slide-content" src="https://swiperjs.com/demos/images/nature-7.jpg" /></ng-template
    ><ng-template swiperSlide
      ><img class="slide-content" src="https://swiperjs.com/demos/images/nature-8.jpg" /></ng-template
    ><ng-template swiperSlide
      ><img class="slide-content" src="https://swiperjs.com/demos/images/nature-9.jpg"
    /></ng-template>
  </swiper> -->